[Unit]
Description=GitPagesMirror uWSGI Daemon
After=network.target

[Service]
WorkingDirectory=/opt/GitPagesMirror
ExecStart=/opt/GitPagesMirror/venv/bin/uwsgi uwsgi.ini

[Install]
WantedBy=multi-user.target